{% extends "base.html" %}

{% block content %}

    
    <form action="/signup" method="post">
        <label>
            Username      
            <input type="text" name="user-name" value='{{username}}'/>
            <label class="error">{{error.username_error}}</label>
        </label>
        <br>
        <label>
            Password
            <input type="password" name="pass-word" value='{{password}}'/>
            <label class="error">{{error.password_error}}</label>
        </label>
        <br>
        <label>
            Verify Password
            <input type="password" name="ver-pass-word" value='{{ver_password}}'/>
            <label class="error">{{error.ver_password_error}}</label>
        </label>
        <br>
        <label>
            Email (optional)
            <input type="text" name="e-mail" value='{{email}}'/>
            <label class="error">{{error.email_error}}</label>
        </label>
        <br>
        <input type="submit" value="Submit"/>
    </form>

{% endblock %}